blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
}

body,
button,
input,
select,
textarea {
    font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', "Microsoft Yahei", \5b8b\4f53, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%
}

address,
cite,
dfn,
em,
var {
    font-style: normal
}

code,
kbd,
pre,
samp {
    font-family: courier new, courier, monospace
}

small {
    font-size: 12px
}

ol,
ul {
    list-style: none
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

legend {
    color: #000
}

fieldset,
img {
    border: 0
}

button,
input,
select,
textarea {
    font-size: 100%
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

article,
aside,
audio,
details,
figcaption,
figure,
footer,
header,
mark,
menu,
nav,
section,
summary,
time,
video {
    display: block;
    margin: 0;
    padding: 0
}

mark {
    background: #ff0
}

#content,
#footer,
#header,
#page {
    margin-left: auto;
    margin-right: auto
}

.w950 {
    width: 950px
}

.col-main {
    float: left;
    width: 100%;
    min-height: 1px
}

.col-extra,
.col-sub {
    float: left
}

.col-extra:after,
.col-sub:after,
.layout:after,
.main-wrap:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both
}

.col-extra,
.col-sub,
.layout,
.main-wrap {
    *zoom: 1
}

#gb-msg-notice {
    position: absolute;
    left: -9999px;
    top: 0;
    padding: 5px 20px 5px 5px;
    border: 1px solid #febf90;
    background-color: #fff8d9;
    color: #404040
}

#gb-msg-notice a {
    color: #36c
}

#gb-msg-notice a:hover {
    color: #F60
}

#gb-msg-notice .gb-msg-info {
    padding-left: 20px;
    background: transparent url(//gtd.alicdn.com/tps/i4/T1LjukXmNrXXXXXXXX-16-29.png) 0 3px no-repeat
}

#gb-msg-notice .gb-msg-icon {
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0
}

#gb-msg-notice .gb-msg-close {
    right: 5px;
    top: 10px;
    width: 9px;
    height: 9px;
    background: transparent url(//gtd.alicdn.com/tps/i4/T1LjukXmNrXXXXXXXX-16-29.png) 0 -20px no-repeat;
    cursor: pointer
}

#gb-msg-notice .gb-msg-tri,
#gb-msg-notice .gb-msg-tri-inner {
    border-top: 4px dashed transparent;
    border-right: 4px dashed transparent;
    border-bottom: 4px solid #febf90;
    border-left: 4px solid #febf90;
    left: 20px;
    top: -8px
}

#gb-msg-notice .gb-msg-tri-inner {
    border-bottom-color: #fff8d9;
    border-left-color: #fff8d9;
    left: -3px;
    top: -2px
}

#system-announce {
    clear: both;
    line-height: 18px;
    padding: 8px 0;
    border: 1px solid #eee;
    background-color: #f6f6f6;
    text-align: center;
    font-weight: 700;
    color: #f30
}

.clearfix:after {
    content: '\0020';
    display: block;
    height: 0;
    clear: both
}

.clearfix {
    *zoom: 1
}

@font-face {
    font-family: sellerCenter;
    src: url(//at.alicdn.com/t/font_1442395488_2188797.eot);
    src: url(//at.alicdn.com/t/font_1442395488_2188797.eot?#iefix) format('embedded-opentype'),  format('woff'), url(//at.alicdn.com/t/font_1442395488_2188797.ttf) format('truetype'), url(//at.alicdn.com/t/font_1442395488_2188797.svg#sellerCenter) format('svg')
}

#page {
    width: 1190px!important;
    margin: 0 auto
}

#page .layout {
    width: 1190px
}

#page .col-main {
    float: left;
    width: 100%;
    min-height: 1px
}

#page .col-main .main-wrap {
    margin:0px auto;
}

#page .col-sub {
    float: left;
    min-height: 200px;
    width: 188px;
    border: 1px solid #E0E0E0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin-left: -100%;
    background-color: #fff
}

#seller-nav {
    background: #f6f6f6;
    border-bottom: 1px solid #f0f0f0;
    width: auto;
    zoom: 1
}

#site-nav-content {
    position: relative;
    height: 35px;
    line-height: 35px;
    margin: 0 auto;
    width: 1190px;
    z-index: 10000
}

#site-nav-content .tmsg {
    float: left
}

#seller-nav a {
    color: #8b8b8b;
    text-decoration: none
}

#seller-nav a:hover {
    color: rgba(139, 139, 139, .8)
}

#seller-nav .mobile-download {
    float: left;
    position: relative
}

#seller-nav .mobile-download span {
    font-family: sellerCenter;
    color: #3c81f6;
    font-size: 14px
}

#seller-nav .mobile-download .txt {
    padding-right: 10px
}

#seller-nav .mobile-download .line-border {
    border-right: solid 1px #ccc;
    width: 0;
    height: 14px;
    position: absolute;
    right: 0;
    top: 11px;
    overflow: hidden
}

#seller-nav .tips-wrap .download-tips {
    position: absolute;
    z-index: 9;
    top: 23px;
    border: solid 1px #f4d594;
    background: #fdeec5;
    padding: 0 7px;
    border-radius: 2px;
    height: 18px;
    line-height: 18px;
    color: #666;
    left: 5px
}

#seller-nav .tips-wrap s.tips-arrow {
    background: url(//gtd.alicdn.com/tps/i3/T1Mf0yXwBeXXb0LpnX-14-37.png) 0 -27px transparent no-repeat;
    width: 14px;
    height: 7px;
    display: block;
    position: absolute;
    left: 35px;
    top: 17px;
    z-index: 10
}

#seller-nav .login-info {
    float: left;
    color: #666;
    padding-left: 10px
}

#seller-nav .login-info a {
    margin-right: 8px
}

#seller-nav .login-info a.user-nick {
    margin-right: 2px
}

#seller-nav .quick-menu {
    position: absolute;
    right: 0;
    top: 0
}

#seller-nav .quick-menu ul:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both
}

#seller-nav .quick-menu ul {
    *zoom: 1
}

#seller-nav .quick-menu li {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    margin-left: -1px
}

#seller-nav .quick-menu li .line-border {
    border-right: solid 1px #ccc;
    width: 0;
    height: 14px;
    position: absolute;
    right: 0;
    top: 11px;
    overflow: hidden
}

#seller-nav .quick-menu li .menu .line-border {
    border-right: solid 1px #ccc;
    width: 0;
    height: 14px;
    position: absolute;
    right: 0;
    top: 8px;
    overflow: hidden
}

#seller-nav .quick-menu li.mytaobao,
#seller-nav .quick-menu li.seller-center,
#seller-nav .quick-menu li.seller-map,
#seller-nav .quick-menu li.seller-service {
    padding-left: 0;
    padding-right: 0
}

#seller-nav .quick-menu li.seller-map .menu-bd-panel {
    padding: 0
}

#seller-nav .quick-menu li.seller-map .seller-map-column {
    position: relative;
    width: 396px;
    height: 286px;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    text-align: left
}

#seller-nav .quick-menu li.seller-map .seller-map-column.seller-map-column-show-top .seller-map-cell-t {
    height: 120px
}

#seller-nav .quick-menu li.seller-map .seller-map-column.seller-map-column-show-top .seller-map-cell-t .seller-map-item-wrapper {
    height: 96px
}

#seller-nav .quick-menu li.seller-map .seller-map-column.seller-map-column-show-top .seller-map-cell-m {
    top: 139px;
    height: 30px
}

#seller-nav .quick-menu li.seller-map .seller-map-column.seller-map-column-show-top .seller-map-cell-m h2 {
    margin-top: 3px;
    margin-bottom: 20px
}

#seller-nav .quick-menu li.seller-map .seller-map-column.seller-map-column-show-middle .seller-map-cell-t {
    height: 30px
}

#seller-nav .quick-menu li.seller-map .seller-map-column.seller-map-column-show-middle .seller-map-cell-t h2 {
    margin-top: 3px;
    margin-bottom: 20px
}

#seller-nav .quick-menu li.seller-map .seller-map-column.seller-map-column-show-middle .seller-map-cell-m {
    top: 49px;
    height: 120px
}

#seller-nav .quick-menu li.seller-map .seller-map-column.seller-map-column-show-middle .seller-map-cell-m .seller-map-item-wrapper {
    height: 96px
}

#seller-nav .quick-menu li.seller-map .seller-map-column.seller-map-column-show-bottom .seller-map-cell-m {
    height: 30px
}

#seller-nav .quick-menu li.seller-map .seller-map-column.seller-map-column-show-bottom .seller-map-cell-m h2 {
    margin-top: 3px;
    margin-bottom: 20px
}

#seller-nav .quick-menu li.seller-map .seller-map-column.seller-map-column-show-bottom .seller-map-cell-b {
    height: 120px
}

#seller-nav .quick-menu li.seller-map .seller-map-column.seller-map-column-show-bottom .seller-map-cell-b .seller-map-item-wrapper {
    height: 96px
}

#seller-nav .quick-menu li.seller-map .seller-map-column-last {
    border: none
}

#seller-nav .quick-menu li.seller-map .seller-map-cell {
    position: absolute;
    z-index: 1;
    height: 75px;
    width: 370px;
    background: #fff;
    border: 1px solid #ebebeb;
    padding: 10px 10px 10px 16px;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease
}

#seller-nav .quick-menu li.seller-map .seller-map-cell:hover {
    background: #F8F9FF
}

#seller-nav .quick-menu li.seller-map .seller-map-cell h2 {
    height: 24px;
    line-height: 24px;
    color: #30a16e;
    font-size: 16px;
    padding-bottom: 5px;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease
}

#seller-nav .quick-menu li.seller-map .seller-map-cell .attention {
    color: #f40
}

#seller-nav .quick-menu li.seller-map .seller-map-cell .seller-map-item-wrapper {
    height: 48px;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
    overflow: hidden
}

#seller-nav .quick-menu li.seller-map .seller-map-cell .seller-map-item-wrapper li {
    margin-left: 0;
    width: 92px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap
}

#seller-nav .quick-menu li.seller-map .seller-map-cell .seller-map-item-wrapper li a:hover {
    text-decoration: underline
}

#seller-nav .quick-menu li.seller-map .seller-map-cell.seller-map-cell-t {
    border-top: none;
    top: 0
}

#seller-nav .quick-menu li.seller-map .seller-map-cell.seller-map-cell-m {
    top: 95px
}

#seller-nav .quick-menu li.seller-map .seller-map-cell.seller-map-cell-b {
    bottom: -1px
}

#seller-nav .quick-menu li.buyer-map .seller-map-column {
    width: 594px;
    height: 191px
}

#seller-nav .quick-menu li.buyer-map .seller-map-column.seller-map-column-show-top .seller-map-cell-t {
    height: 100px
}

#seller-nav .quick-menu li.buyer-map .seller-map-column.seller-map-column-show-top .seller-map-cell-t .seller-map-item-wrapper {
    height: 72px
}

#seller-nav .quick-menu li.buyer-map .seller-map-column.seller-map-column-show-top .seller-map-cell-m {
    top: 120px;
    height: 50px
}

#seller-nav .quick-menu li.buyer-map .seller-map-column.seller-map-column-show-top .seller-map-cell-m h2 {
    margin-top: 13px;
    margin-bottom: 20px
}

#seller-nav .quick-menu li.buyer-map .seller-map-column.seller-map-column-show-middle .seller-map-cell-t {
    height: 50px
}

#seller-nav .quick-menu li.buyer-map .seller-map-column.seller-map-column-show-middle .seller-map-cell-t h2 {
    margin-top: 13px;
    margin-bottom: 20px
}

#seller-nav .quick-menu li.buyer-map .seller-map-column.seller-map-column-show-middle .seller-map-cell-m {
    top: 70px;
    height: 100px
}

#seller-nav .quick-menu li.buyer-map .seller-map-column.seller-map-column-show-bottom .seller-map-cell-m {
    height: 50px
}

#seller-nav .quick-menu li.buyer-map .seller-map-column.seller-map-column-show-bottom .seller-map-cell-m h2 {
    margin-top: 13px;
    margin-bottom: 20px
}

#seller-nav .quick-menu li.buyer-map .seller-map-column.seller-map-column-show-bottom .seller-map-cell-b {
    height: 100px
}

#seller-nav .quick-menu li.buyer-map .seller-map-cell {
    width: 594px
}

#seller-nav .menu {
    position: relative
}

#seller-nav .menu-hd {
    position: relative;
    display: block;
    height: 33px;
    line-height: 28px;
    margin: 3px 1px 0;
    padding: 0 10px;
    cursor: pointer;
    z-index: 10002;
    color: #8b8b8b
}

#seller-nav .hover .menu-hd,
#seller-nav .menu:hover .menu-hd{
    position: relative;
    background: #FFF;
    border: 1px solid #ebebeb;
    border-bottom: none;
    margin: 2px 0 0
}

#seller-nav .menu-bd {
    display: none;
    background: #FFF
}

#seller-nav .hover .menu-bd,
#seller-nav .menu:hover .menu-bd {
    display: block;
    border: 1px solid #ebebeb;
    position: absolute;
    top: 33px!important;
    right: 0
}

#seller-nav .tmsg_panel_apps {
    border: 1px solid #efefef!important;
    border-top: none!important
}

#seller-nav .tmsg_panel_head {
    border-bottom: 1px solid #ebebeb!important
}

#seller-nav .menu-hd b {
    color: #8b8b8b;
    font-family: sellerCenter;
    font-size: 12px;
    padding-left: 5px
}

#seller-nav .quick-menu li.seller-map .menu-hd b {
    padding-right: 5px;
    font-size: 10px;
    vertical-align: bottom;
    color: #0085D7
}

#seller-nav .quick-menu li.seller-map .menu-bd {
    width: 1188px;
    height: 286px;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2)
}

#seller-nav .quick-menu li.buyer-map .menu-bd {
    width: 1188px;
    height: 191px;
    overflow: hidden
}

#seller-nav .mytaobao .menu-bd,
#seller-nav .seller-center .menu-bd {
    width: 104px;
    text-align: left
}

#seller-nav .seller-service .menu-bd {
    width: 90px
}

#seller-nav .seller-guide .menu-bd {
    width: 200px
}

#seller-nav iframe.menu-bd {
    border: 0;
    background: 0 0;
    filter: alpha(opacity=0);
    float: left;
    z-index: -1
}

#seller-nav .menu-bd-panel {
    padding: 8px 15px 10px;
    line-height: 22px;
    text-align: center
}

#seller-nav .mytaobao .menu-bd-panel {
    text-align: left
}

#seller-nav .menu-bd-panel li {
    padding: 0
}

#seller-nav .menu-sub-list li {
    width: 48px;
    overflow: hidden;
    padding-right: 12px
}

#seller-nav .seller-guide .menu-bd-panel {
    padding: 8px 5px 10px 15px;
    text-align: left
}

#seller-nav .seller-guide .menu-bd-panel div {
    padding: 10px 0
}

#seller-nav .seller-guide .menu-bd-panel .first {
    padding-top: 0
}

#seller-nav .seller-guide .menu-bd-panel .last {
    padding-bottom: 0
}

#seller-nav .final,
#seller-nav .separator {
    background: url(//gtd.alicdn.com/tps/i3/T1rjiMXadoXXXXXXXX-140-26.png) no-repeat center -25px
}

#seller-nav .quick-menu .final {
    background-position: 33px 0
}

#seller-nav .quick-menu .other {
    padding: 0 10px
}

#header {
    margin: 40px auto 0;
    width: 1190px;
    position: relative
}

#header .logo {
    float: left;
    width: 211px;
    height: 46px;
    font-size: 0;
    margin-right: 10px
}

#header .taobao-logo {
    float: left;
    display: block;
    width: 113px;
    height: 46px;
    margin-right: 10px
}

#header .sub-logo {
    float: left;
    display: block;
    width: 88px;
    height: 31px;
    margin-top: 6px
}

#header .version-switch {
    float: left;
    display: block;
    margin-top: 15px;
    color: #bbb
}

#header .more {
    float: left;
    width: 48px;
    height: 16px;
    padding-top: 13px;
    background: 0 0
}

#header .more a:hover,
#header .more a:link,
#header .more a:visited {
    color: #9c9c9c;
    text-decoration: none
}

#header .more a:hover {
    color: rgba(156, 156, 156, .8)
}

#header .feedback {
    position: absolute;
    top: 0;
    right: 20px;
    height: 50px;
    line-height: 50px;
    color: #fff
}

#header .feedback .feedback-icon {
    font-size: 16px;
    font-family: sellerCenter
}

#header .feedback a {
    position: relative;
    color: #fff;
    text-decoration: none
}

#header .feedback a:hover {
    color: rgba(255, 255, 255, .8)
}

#header .feedback .new-msg {
    background: url(//gtms01.alicdn.com/tps/i1/TB1LNfWJXXXXXXIXXXXf.m9JFXX-6-6.png) no-repeat;
    width: 6px;
    height: 6px;
    display: block;
    position: absolute;
    top: -3px;
    right: -5px
}

#topnav {
    height: 50px;
    background: #0085D7;
    margin: 40px 0 23px;
    position: relative
}

#topnav .site-menu li {
    position: relative;
    float: left;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    text-align: center
}

#topnav .site-menu li.first {
    padding: 0 30px
}

#topnav .site-menu li a:hover,
#topnav .site-menu li a:link,
#topnav .site-menu li a:visited {
    display: block;
    color: #fff;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    text-decoration: none;
    font-weight: 600
}

#topnav .site-menu li a:hover {
    color: rgba(255, 255, 255, .8)
}

#topnav .site-menu li.selected,


@keyframes spring {
    0% {
        right: 15px
    }
    30% {
        right: 10px
    }
    45% {
        right: 15px
    }
    75% {
        right: 10px
    }
    100% {
        right: 15px
    }
}

.col-sub {
    -webkit-box-shadow: 0 1px 4px 0 #d7d7d7;
    -moz-box-shadow: 0 1px 4px 0 #d7d7d7;
    box-shadow: 0 1px 4px 0 #d7d7d7
}

#sidebar {
    font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', "Microsoft Yahei", \5b8b\4f53, sans-serif;
    position: relative
}

#sidebar .app-ordered,
#sidebar .app-quick-entry {
    height: 42px;
    line-height: 42px;
    width: 188px;
    border-bottom: 1px solid #e0e0e0;
    background: #F5F5F5
}

#sidebar .app-ordered .entry-wrap,
#sidebar .app-quick-entry .entry-wrap {
    position: relative;
    display: block;
    width: 173px;
    height: 42px;
    line-height: 42px;
    padding-left: 15px;
    text-decoration: none
}

#sidebar .app-ordered .entry-wrap .title,
#sidebar .app-quick-entry .entry-wrap .title {
    font-size: 14px;
    color: #333
}

#sidebar .app-ordered .entry-wrap .tip,
#sidebar .app-quick-entry .entry-wrap .tip {
    color: #0085D7;
    font-size: 12px;
    margin-left: 5px
}

#sidebar .app-ordered .entry-wrap .tip:hover,
#sidebar .app-quick-entry .entry-wrap .tip:hover {
    text-decoration: underline
}

#sidebar .app-ordered .icon,
#sidebar .app-quick-entry .icon {
    position: absolute;
    right: 15px;
    font-size: 12px;
    color: #0085D7;
    font-family: sellerCenter;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s
}

#sidebar .app-ordered:hover .icon {
    -webkit-animation: spring .8s;
    -o-animation: spring .8s;
    animation: spring .8s
}

#sidebar .app-quick-entry .icon {
    width: 16px;
    height: 16px;
    line-height: 16px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    right: 15px;
    top: 14px;
    font-size: 14px
}

#sidebar .app-quick-entry:hover .icon {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transform-origin: 48% 48%;
    -moz-transform-origin: 48% 48%;
    -ms-transform-origin: 48% 48%;
    -o-transform-origin: 48% 48%;
    transform-origin: 48% 48%
}

#sidebar .app-list {
    min-height: 200px;
    background: #fff
}

#sidebar .app-list.loading {
    background: url(//gtd.alicdn.com/tps/i4/T1HcvHXd4nXXb6ROYh-48-48.gif) no-repeat center center #fff
}

#sidebar .app-list .catrgory-load-error {
    height: 200px;
    width: 100%
}

#sidebar .app-list .catrgory-load-error p {
    height: 200px;
    line-height: 200px;
    text-align: center;
    color: #666
}

#sidebar .app-list .catrgory-load-error p a {
    color: #0085D7
}

#sidebar .app-list .category {
    background: #fff;
    width: 158px;
    margin: 0 10px 0 15px;
    padding: 13px 0;
    border-bottom: 1px solid #e1e1e1
}

#sidebar .app-list .category li {
    margin-top: 5px
}

#sidebar .app-list .category .normal-app {
    display: none
}

#sidebar .app-list .category b.close {
    display: inline
}

#sidebar .app-list .category b.open {
    display: none
}

#sidebar .app-list .category.show-more .normal-app {
    display: inline
}

#sidebar .app-list .category.show-more b.close {
    display: none
}

#sidebar .app-list .category.show-more b.open {
    display: inline
}

#sidebar .app-list .category.last-category {
    border-bottom: none
}

#sidebar .app-list .category:hover .custom-entry {
    color: #0085D7
}

#sidebar .app-list .category-name {
    width: 160px;
    height: 20px;
    line-height: 20px;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 3px
}

#sidebar .app-list .category-name .category-icon {
    font-family: sellerCenter;
    font-size: 18px;
    color: #0085D7;
    vertical-align: top;
    font-weight: 100
}

#sidebar .app-list .category-name .custom-entry {
    font-weight: 100;
    margin-left: 10px;
    font-size: 12px;
    color: #fff;
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -ms-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s
}

#sidebar .app-list .category-name .icon {
    font-weight: 100;
    font-size: 12px;
    position: absolute;
    right: 0;
    font-family: sellerCenter;
    color: #0085D7;
    cursor: pointer;
    -webkit-user-select: none
}

#sidebar .app-list .category-app {
    width: 170px
}

#sidebar .app-list .category-app li {
    margin-top: 3px;
    width: 85px;
    height: 20px;
    line-height: 20px;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

#sidebar .app-list .category-app li a {
    color: #666
}

.seller-sidebar-ordered-app-popup {
    position: absolute;
    display: none;
    top: -1px;
    left: 199px;
    width: 680px;
    height: 360px;
    z-index: 10000;
    background: #FAFAFA;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 1px 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px 1px #ccc;
    box-shadow: 0 1px 1px 1px #ccc
}

.seller-sidebar-ordered-app-popup b,
.seller-sidebar-ordered-app-popup s {
    border-color: transparent #FAFAFA transparent transparent;
    border-style: solid;
    border-width: 8px;
    font-size: 0;
    width: 0;
    height: 0;
    line-height: 0;
    position: absolute;
    left: -16px;
    top: 8px;
    z-index: 10002
}

.seller-sidebar-ordered-app-popup b {
    border-color: transparent #ccc transparent transparent;
    position: absolute;
    left: -17px;
    top: 8px;
    z-index: 10001
}

.seller-sidebar-ordered-app-popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #0085D7;
    height: 16px;
    width: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 18px;
    text-decoration: none
}

.seller-sidebar-ordered-app-popup.loading {
    background-image: url(//gtd.alicdn.com/tps/i4/T1HcvHXd4nXXb6ROYh-48-48.gif);
    background-position: center center;
    background-repeat: no-repeat
}

.seller-sidebar-ordered-app-popup iframe {
    width: 680px;
    height: 360px
}

.seller-sidebar-ordered-app-popup-content .popup-hd {
    width: 740px;
    height: 40px;
    line-height: 40px
}

#footer {
    width: 1190px;
    border-top: 3px solid #0085D7;
    clear: both;
    margin: 10px auto;
    text-align: center;
    padding-top: 10px
}

#footer .foot-nav {
    display: block;
    height: 20px;
    margin: 0 auto 0
}

#footer .foot-nav a {
    margin: 0 7px
}

#footer .ali-group {
    margin: 5px auto
}

#footer .ali-group a {
    margin: 0 1px
}

#footer .copyright {
    clear: both;
    margin: 15px auto 0
}

#server-num {
    color: #fff;
    font-size: 11px
}

.seller-sys-notice {
    width: 988px;
    height: 42px;
    line-height: 42px;
    border: 1px dashed #E0E0E0;
    background: #FAFAFA;
    margin-bottom: 15px
}

.seller-sys-notice .notice-icon {
    color: #0085D7;
    font-size: 16px;
    font-family: sellerCenter;
    padding-left: 15px;
    padding-right: 5px
}

.seller-sys-notice .notice-main {
    color: #333
}

.seller-sys-notice .notice-main a {
    color: #0085D7
}

.navigation {
    position: relative;
    width: 973px;
    height: 42px;
    line-height: 42px;
    border: 1px solid #E0E0E0;
    background: #FAFAFA;
    margin-bottom: 15px;
    padding-left: 15px
}

.navigation .crumbs {
    float: left
}

.navigation .crumbs a,
.navigation .crumbs span {
    color: #333
}

.navigation .absright {
    position: absolute;
    right: 20px;
    line-height: 42px
}

.navigation .absright li {
    float: right;
    margin-left: 10px
}

.navigation .absright .help {
    background: url(//gtd.alicdn.com/tps/i1/T1CqmcXllwXXXXXXXX-64-1800.png) no-repeat scroll 0 0 transparent;
    color: #404040;
    float: left;
    line-height: 42px;
    padding-left: 25px;
    background-position: 3px -1188px
}

.navigation .absright .help a {
    color: #0085D7
}
